*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* DECLARACIÓN DE VARIABLES PARA LOS COLORES */

:root {
    --purpura: #A453CA;
    --naranja: #F5B95F;
    --rojo: #EC7767;
    --verde: #1EC064;
    --rosa: #DF43A1;
    --azul: #7052FF;
    --gris: #737474;
}

body {
    font-family: 'Outfit', sans-serif;
}

/* ESTA ES EL CONTENEDOR DEL JUEGO */

.juego {
    display: flex;
    align-items: center;
    height: 100vh;
}

/* ES LA ENVULTURA QUE CONTIENE A TODOS LOS ELEMENTOS DEL TABLERO DEL PARQUÉS */

.juego__parques {
    width: 576px;
    height: 572.67px;
    position: relative;
    z-index: 9;
    margin-left: 10px;
}

/* CADA TABLA TIENE ESTOS ESTILOS PARA QUE DE ESTA MANERA SE PUEDA MOVER */

table {
    display: block;
    position: absolute; 
    width: 140.24px;
    border-spacing: 0;
    z-index: 99;
}

/* TR HACE REFERENCIA A CADA FILA DE LAS TABLAS */

tr {
    display: flex;
}

/* CADA TABLA NECESITA UNA UBICACION PARTICULAR SE DIVIDEN EN LOS COLORES SEGÚN LA COLUMNA DE LA META */

.casillas-eq-azul {
    top: 25px;
    left: 210px;
}

.casillas-eq-rojo {
    bottom: 25px;
    left: 210px;
}

.casillas-eq-verde {
    left: 44px;
    bottom: 121px;
    transform: rotate(60deg);
}

.casillas-eq-naranja {
    right: 58px;
    bottom: 121px;
    transform: rotate(-60deg);
}

.casillas-eq-purpura {
    right: 58px;
    top: 121px;
    transform: rotate(60deg);
}

.casillas-eq-rosa {
    top: 121px;
    left: 44px;
    transform: rotate(-60deg);
}

/* TODAS LAS CASILLAS EN GENERAL REQUIEREN QUE SE LE ESPECIFIQUE UNAS PROPIEDADES
   QUE AYUDEN A ESPACEARLAS Y ADEMAS QUE DENTRO DE ELLAS PUEDA EXISTIR UN ELEMENTO
   EN EL CENTRO
*/

.casilla {
    width: 43.95px;
    height: 14.79px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 1px;
    background-color: var(--gris);
    cursor: pointer;
}

.casilla:hover{
    box-shadow: 0px 0px 12px -1px rgba(0, 0, 0, 0.91);
}

/* EN ESTA PARTE SE ESPECIFICA EL COLOR DE CADA CASILLA */

.casilla-roja {
    background-color: var(--rojo);
}

.casilla-azul {
    background-color: var(--azul);
}

.casilla-naranja {
    background-color: var(--naranja);
}

.casilla-rosa {
    background-color: var(--rosa);
}

.casilla-purpura {
    background-color: var(--purpura);
}

.casilla-verde {
    background-color: var(--verde);
}

.casilla--salida {
    background-image: url('../scr/texto/SALIDA.svg');
    background-repeat: no-repeat;
    background-size: 80%;
    background-position-x: center;
    background-position-y: center;
}

.casilla--seguro {
    background-image: url('../scr/texto/SEGURO.svg');
    background-repeat: no-repeat;
    background-size: 90%;
    background-position-x: center;
    background-position-y: center;
}

/* ESTA ES LA FIGURA CENTRAL DEL TABLERO, LA META */

.meta {
    position: absolute;
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
    background: rgb(245,185,95);
    background: linear-gradient(153deg, rgba(245,185,95,1) 0%, rgba(164,83,202,1) 20%, rgba(236,119,103,1) 34%, rgba(30,192,100,1) 72%, rgba(223,67,161,1) 91%, rgba(112,82,255,1) 100%);
    width: 280px;
    height: 245px;
    top: 50%;
    transform: translate(50%, -50%);
    cursor: pointer;
}

.meta p {
    font-size: 32px;
    font-weight: bold;
    color: white;
    position: absolute;
    top: 50%;
    transform: translate(45%, -50%);

}

/* ACA SE DEFINEN LAS PROPIEDADES QUE TENDRÁN LOS TRIANGULOS QUE SERÁN LAS CARCELES
   O LUGAR DE DONDE SALEN NUESTRAS FICHAS
*/

.carcel {
    position: absolute;
    width: 0;
    height: 0;
    border-left: 66px solid transparent;
    border-right: 66px solid transparent;
}

/* AL IGUAL QUE LAS TABLAS DIVIDAS POR EQUIPOS CADA CARCEL-SALIDA REQUIERE POSICIONES, COLORES
   Y DEMAS PROPIEDADES QUE LA DEJEN POSICIONARSE DONDE SE REQUIERE
*/

.carcel-roja {
    border-bottom: 115px solid var(--rojo);
    bottom: 49.5px;
    right: 127.5px;
    transform: rotate(-30deg);
}

.carcel-verde {
    border-bottom: 115px solid var(--verde);
    bottom: 49.5px;
    left: 111px;
    transform: rotate(30deg);
}

.carcel-azul {
    border-bottom: 115px solid var(--azul);
    top: 16.5px;
    left: 111px;
    transform: rotate(30deg);
}

.carcel-purpura {
    border-bottom: 115px solid var(--purpura);
    top: 16.5px;
    right: 127.5px;
    transform: rotate(-30deg);
}

.carcel-rosa {
    border-bottom: 115px solid var(--rosa);
    top: 228px;
    left: 10px;
    transform: rotate(90deg);
}

.carcel-naranja {
    border-bottom: 115px solid var(--naranja);
    top: 228px;
    right: 28px;
    transform: rotate(-90deg);
}

/*  ESTA PARTE SON LOS PUNTOS GRISES QUE APARECEN EN CADA CARCEL-SALIDA
    CON EL FIN DE QUE SEA SU POSICION INICIAL O CUANDO UNA FICHA SEA ENVIADA
    DE VUELTA AHÍ SE POSICIONE EN CENTRO DE ALGUNO DE LOS PUNTOS
*/

.punto-inicial {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: #737474;
    position: relative;
    opacity: 0.7;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0px 0px 2px rgba(0, 0, 0, 0.7);
}

/* CADA PUNTO INICIAL NECESITA UNA POSICION ESPECIAL EN LAS CARCELES */

.pi1 {
    top: 21px;
    left: -9px;
}

.pi2 {
    top: 73px;
    right: 49px;
}

.pi3 {
    top: 55px;
    left: 30px;
}

.pi4 {
    top: 9px;
    left: -10px;
}

/* --------------------------------------------------------------- */
/* CONFIG DEL JUEGO */

.config-parques {
    border: 1px solid black;
    width: calc(100% - 600px);
    height: 100vh;
}

.cabecera {
    width: 60%;
    text-align: center;
    padding: 10px;
    border-bottom: 3px solid black;
    margin: 0 auto;
}

.cabecera__titulo {
    font-size: 28px;
    font-weight: bold;
}


/* TODAS LAS FICHAS TENDRÁN ESTAS PROPIEDADES */

.ficha {
    width: 12px;
    height: 12px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/* Y CADA FICHA TENDRÁ UNA COLOR DIFERENTE */

#ficha-roja {
    background-image: url('../scr/fichas/ficha-roja.svg');
}

#ficha-azul {
    background-image: url('../scr/fichas/ficha-azul.svg');
}

#ficha-verde {
    background-image: url('../scr/fichas/ficha-verde.svg');
}

#ficha-purpura {
    background-image: url('../scr/fichas/ficha-purpura.svg');
}

#ficha-naranja {
    background-image: url('../scr/fichas/ficha-naranja.svg');
}

#ficha-rosa {
    background-image: url('../scr/fichas/ficha-rosa.svg');
}