*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Outfit', sans-serif;
    background-repeat: no-repeat;
    height: 100vh;
}

.cabecera {
    width: 100%;
    padding: 3px;
    padding-left: 20px;
}

.cabecera__titulo {
    font-size: 32px;
    color: #0d1b2a;
}

.juego__parques {
    border-radius: 10px;
    width: 577px;
    height: 577px;
}

.triangulos {
    width: 300px;
    height: 300px;
    border: 1px solid red;
    position: relative;
}

.triangulo {
    width: 0;
    height: 0;
    border-left: 70px solid transparent;
    border-right: 70px solid transparent;
    position: absolute;
}

.triangulos-t1 {
    border-bottom: 100px solid salmon;
    transform: rotate(90deg);
    left: 70px;
    top: 50px;
    /* z-index: 90; */
}

.triangulos-t2 {
    border-bottom: 100px solid blueviolet;
    transform: rotate(-90deg);
    left: 70px;
    top: 130px;
    /* z-index: 99; */
}